{{#partial "titleMethod"}}Publish New Entry{{/partial}}
{{#partial "action"}}add{{/partial}}
{{#partial "tags"}}
    <label for="tags">Tags (Put a commma after each tag)</label>
    <input type="text" name="tags"><br>
{{/partial}}
{{#partial "submitValue"}}Publish Entry{{/partial}}

{{> baseEntry.hbs }}